doctype html

html
	style.
		body {
			background-color: #cad297;
		}
	head
	title Address Not Found
	
	body
		h1 Address Not Found
		h2 Please try again
		
		form(action="/addressnotfound",method="post")
			div.actions 
				input(type = "submit", name = "action" , value = "try again") 
