doctype html

html
	head
	title Contact Us

	style.
		body {
			font-family: Arial, Helvetica, sans-serif;
			color: black;
			margin        : 0;
			padding       : 0;
			background-color: #cad297;
		}
	
	body 
		
		form(action="/autofill",method="post")  
			script.
				var email = sessionStorage.getItem("email");
				console.log(email);  
			span.label To: db2@busters.com
			span.textarea(name = "email", id = "email")
			div.input
				span.label Please type your message here: 
			textarea(name="message", id="message", rows = 20, cols = 80) Hello I am interested in this property. Please message me back with a good time for us to talk. 
			div.actions  
				input(type = "submit", name = "action", value = "done")
			
			
				

