doctype html

html
	head
	title Contact Us
	
    //header
    .header
		img(src='Logo_banner.png', style='display: block; margin-right: auto;  width: 10%;')
		.header-right
            a.active(href='index.pug') Home
			a(href='contactus.pug') Contact
			a(href='about.pug') About
			.dropdown
                button.dropbtn
                | Log in
                i.fa.fa-caret-down
                .dropdown-content
                    a(href='customerlogin.pug') Customer
                    a(href='realtorlogin.pug') Realtor
            .dropdown
                button.dropbtn
                | Sign up
                i.fa.fa-caret-down
                .dropdown-content
                    a(href='customersignup.pug') New Customer
                    a(href='realtorsignup.pug') New Realtor
            a(href='#contact') Contact
    
	body 
		
		form(action="/contactus",method="post")
			div.input
				span.label Please type your message here: 
				textarea(name="message", id="message")
			div.actions  
				input(type = "submit", name = "action", value = "done")
