doctype html

html
	head
	title Contact Us
	
	body 
		
		form(action="/contactus",method="post")
			div.input
				span.label Please type your message here: 
			textarea(name="message", id="message", rows = 20, cols = 80)  
			div.actions  
				input(type = "submit", name = "action", value = "done")
				
				
			
				

