doctype html
head
  title Login Form Design
 



  link(rel='stylesheet' type='text/css' href='signup.css')

.loginbox
  img.avatar(src='avatar.png')
  .title SignUp here
  form(action='#')
    .user-details
      .input-box
        span.details First Name
        input(type='text' placeholder='Enter first name' required='')
      .input-box
        span.details Last Name
        input(type='text' placeholder='Enter last name' required='')
      .input-box
        span.details Password
        input(type='password' placeholder='Enter password' required='')
      .input-box
        span.details Username
        input(type='text' placeholder='Enter username' required='')
      .input-box
        span.details Email
        input(type='text' placeholder='Enter email' required='')
      .input-box
        span.details Phone Number
        input(type='text' placeholder='Enter Phone Number' required='')
    .button
      input(type='submit' value='sign in')
