doctype html
   
html
	head 
	title Login
	style. 
		form {
			border: 3px solid #f1f1f1;
		}
		h1 {text-align: center;}
		body {
			font-family: Arial, Helvetica, sans-serif;
			color: white;
			margin        : 0;
			padding       : 0;
			display       : grid;
			place-content : center;
			min-height    : 100vh;
			background-image: url("526370.jpg");
		}
		
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 11px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		button {
			background-color: #04AA6D;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		
		input[type="submit"] {
			display: block;
			margin: 0 auto;
			padding: 7px 14px;
		}
		 
	  
	body 
		span.h0s(style={color: 'white', 'font-size': '50px', 'tab-size': 12 }) Login to your Willow Account:
	
		form(action="/customerlogin", method="post")
			
			div.input
				span.h1(style={color: 'white', 'font-size': '16px', 'tab-size': 12 }) <strong>Username<strong>
				input(type = "text", name = "Username" )

			div.input
				span.h2(style={color: 'white', 'font-size': '16px', 'tab-size': 12 }) <strong>Password<strong>
				input(type = "password" , name = "password")

			div.actions
				input( class="btn btn-lg btn-primary btn-block", type = "submit", name = "action", value = "login")
				//input(type = "submit", name = "action", value = "register")
