doctype html

html
	style.
		body {
			background-color: #cad297;
		}

	body
		h1 Change Password 
		
		form(action = "/customerchangepassword", method = "post") 
			div.input
				span.label New Password
				input(type = "password", name = "password")
				
			div.actions 
				input(type = "submit", name = "action" , value = "done")
