doctype html

html
	style.
		body {
			background-color: #cad297;
		}
	head
	title Username is taken
	
	body
		h1 Username is taken
		h2 Please try again
		
		form(action="/dupec",method="post")
			div.actions 
				input(type = "submit", name = "action" , value = "try again") 
