doctype html

html
	head
	title Message Sucessfully Sent

	style.
		body {
			font-family: Arial, Helvetica, sans-serif;
			color: black;
			margin        : 0;
			padding       : 0;
			background-color: #cad297;
		}
	
	body 
		h1 Thank you for your message!  We will get back to you as soon as we can.
		form(action="/messagesent",method="post") 
			div.actions  
				input(type = "submit", name = "action", value = "Go back to listings")
