doctype html

html
	style.
		body {
			background-color: #cad297;
		}

	body
		h1 Change Phone Numer 
		
		form(action = "/realtorchangephoneno", method = "post") 
			div.input
				span.label New Phone Number
				input(type = "text", name = "phoneno")
				
			div.actions 
				input(type = "submit", name = "action" , value = "done")
