doctype html

html 
		head
		title Realtor Sign Up
	
		link(rel = 'stylesheet' , href = '/css/bootstrap.min.css')
		link(rel = 'stylesheet' , href = '/css/styles.css')
		link(rel = 'stylesheet',  href='signup.css')
	
		.loginbox
			img.avatar(src='avatar.png') 
			form(name = "signupr" , action="/realtorsignup", onsubmit="return checkPhoneNo()", method = "post")
				.user-details
				.input-box
					span.details Realtor ID
					input(type='text', name = 'realtorID', placeholder='Enter realtor ID' required='')
				.input-box
					span.details Agency
					input(type='text', name = 'agency' ,placeholder='Agency' required='') 
				.input-box
					span.details First Name
					input(type='text', name = 'firstName', placeholder='Enter first name' required='')
				.input-box
					span.details Last Name
					input(type='text', name = 'lastName' ,placeholder='Enter last name' required='') 
				.input-box
					span.details Email
					input(type='text', name = 'email', placeholder='Enter email' required='')
				.input-box
					span.details Phone Number
					input(type='text', name = 'phoneno', placeholder='Enter Phone Number' required='')
				.input-box
					span.details Username
					input(type='text', name = 'username', placeholder='Enter username' required='')
				.input-box
					span.details Password
					input(type='password', name = 'password', placeholder='Enter password' required='')
				.button
					input(type='submit' , name = 'action', value='login') 
				script.
					function checkPhoneNo()
						{
							var x=document.forms["signupr"]["phoneno"].value;
							if (isNaN(x))  
							{
								alert("Must input numbers for phone number");
								return false;
							}
						}
