doctype html

html
	style.
		body {
			background-color: #cad297;
		}
	head
	title Register
	
	body
		h1 Please enter choose your account type:
		
		form(action="/register",method="post")
			div.actions
				input(type = "submit", name = "action", value = "customer")
				input(type = "submit", name = "action" , value = "realtor")

